{# {% extends '@barebones_bootstrap_STARTERKIT/patterns/paragraph-reset.html.twig' %} #}

{%
 set classes = [
   'paragraph',
   'paragraph--type--' ~ paragraph.bundle|clean_class,
   view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
   not paragraph.isPublished() ? 'paragraph--unpublished',
   'component',
   'component--slideshow-slide',
   'slideshow',
 ]
%}
{% block paragraph %}
 <section{{ attributes.addClass(classes) }}>
    <div>
        {% block content %}
            {{ content }}
        {% endblock %}
    </div>
 </section>
{% endblock paragraph %}